@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-4">
            <form class="card" style="width: 18rem;">
                <img class="card-img-top" src="@item.ImagePath" alt="Image coming soon">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">@item.Price kr.</p>
                    <input type="submit" value="Add to cart" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }
    <div>
        <ul class="pagination">
            @for (int i = 1; i < Model.TotalPages + 1; i++)
            {
                <li class="page-item @Model.CurrentPage ? 'active' : ''">
                    <a asp-page="/Index" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>

            }
        </ul>
    </div>
</div>
